# Dart/Pub
.dart_tool/
.packages
build/
pubspec.lock  # If you're building a package, remove this line.

# Flutter-specific
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.flutter-settings

# Firebase
firebase.json
firebase_options.dart
google-services.json
ios/Runner/GoogleService-Info.plist  # iOS Firebase configuration

# Android
android/.gradle/
android/key.properties
android/app/google-services.json  # Ensure Firebase credentials are not exposed

# iOS
ios/.symlinks/
ios/Pods/
ios/Flutter/Flutter.podspec
ios/.dart_tool/
ios/.generated/

# Web
web/firebase-config.js

# Linux/macOS/Windows
linux/
macos/
windows/

# dotenv environment variables file
.env*
*.env

# Miscellaneous
.idea/  # IntelliJ & Android Studio
.vscode/  # VS Code settings
*.iml  # Android Studio project files
.DS_Store  # macOS file
Thumbs.db  # Windows thumbnail cache

# Avoid committing generated JavaScript files
*.dart.js
*.info.json
*.js_
*.js.deps
*.js.map
